---
import { Image } from "astro:assets";
import MainLayout from "../../layouts/MainLayout.astro";
import post05Img from "@images/post-05.png";
import Picture from "astro/components/Picture.astro";

---

<MainLayout title="Imágenes">
    <h1 class="text-5xl font-bold text-white">Imágenes</h1>
    <img src="/assets/images/post-05.png" alt="" width="250" height="250">


    <Image
        src={post05Img}
        alt="Imagenes del post"
        width="250"
        height="250"
    />
    <h1>quality="low"</h1>
    <Image
        src={post05Img}
        quality="low"
        alt="Imagenes del post"
        width="250"
        height="250"
    />
    <h1>quality="High"</h1>
    <Image
        src={post05Img}
        quality="high"
        alt="Imagenes del post"
        width="250"
        height="250"
    />

    <h1>Formatos</h1>
    <Image
        src={post05Img}
        format="avif"
        quality="high"
        alt="Imagenes del post"
        width="250"
        height="250"
    />

    <h1>Picture</h1>
    <Picture 
        formats={["avif", "webp", "jpeg"]}
        widths={[240, 540, 720, post05Img.width]}
        sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${post05Img.width}px`}
        src={post05Img}
        alt="Imagenes del post"
        width="250"
        height="250"
        
    />

    <div style={{
        height: '3000px',
    }}>

    </div>

    <img 
        loading="lazy"
        src="/assets/images/post-05.png" 
        width="500px"
        height="500px"
        alt="">
</MainLayout>
<style>
    h1 {
        @apply text-white mt-10
    }
</style>
